{% extends 'base.html' %}

{% block content %}   

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home'%}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
          <li class="breadcrumb-item"><a href="{% url 'patients' %}">Patients</a></li>
        <li class="breadcrumb-item "><a href="{% url 'visits' %}">Clinic Records</a> </li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="dashboard" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Welcome {{request.user.username}}</h4>
          <p>Your last ten assignments!</p>
          {% if visits %}
            <table class="table table-bordered table-striped ">
            <thead class="thead-light">
              <tr>
                  <th> Date</th>
                  <th> Patient</th>
                  <th> Category</th>                  
                  <th></th>
                  
              </tr>
            </thead>
            <tbody>

            {% for visit in visits %}
            <tr class="grey-text">
                <td>{{visit.visit_date}}</td>
                <td>{{visit.patient}}</td>
                <td>{{visit.get_category_display}}</td>                               
                <td><a href="{% url 'visit' visit.id %}" class="btn btn-info">Details</a></td>              

            </tr>
            {% endfor%}
            </tbody>
        </table>      

        {% else%}
        <p> You have not handled any assignments yet!</p>
        {% endif%}
          
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a role="button" href="{% url 'visit_add'%}" class="btn btn-primary float-right">Create Assignment</a>
        </div>
      </div>  

      <div class="row">
        <div class="col-md-12">          
          <p>Expense Report: </p>
          {% if expenses %}

          <table class="table table-bordered table-striped">
            <thead class="thead-light">
              <tr>
                <th>Particulars</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expenses %}
              <tr>
                <td>{{expense.particulars}}</td>
                <td>{{expense.amount}}</td>
                <td><a href="{% url 'expense' expense.id %}" class="btn btn-info">Details</a></td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>

          {% else %}
              <p> You have not yet claimed any expenses.</p>
          {% endif %}         
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a role="button" href="{% url 'expense_add'%}" class="btn btn-primary float-right">File Expense Claim</a>
        </div>
      </div>  


    </div>
  </section>
  
{% endblock content %}