{%extends 'base.html'%}

        {%block page_title%}

        Employees

        {%endblock%}

        {%block main_content%}

        {% if employees%}

</br> 

        <table class="bordered striped">

            <thead>

              <tr class="purple white-text">
                  <th> First Name</th>
                  <th> Last Name</th>
                  <th> Phone</th>
                  <th> Alternate Phone</th>
                  <th> Email</th>
                  <th> Designation</th>
                  <th></th>

              </tr>

            </thead>

            <tbody>

            {%for member in employees%}

            <tr class="grey-text">
                <td>{{member.first_name}}</td>
                <td>{{member.last_name}}</td>
                <td>{{member.phone}}</td>
                <td>{{member.alternate_phone}}</td>
                <td>{{member.email}}</td>
                <td>{{member.get_designation_display}}</td>
                <td><a href="{%url 'clinic:employee_detail' member.id%}">Details</a></td>

            </tr>

            {%endfor%}

            </tbody>

        </table>

        {%include 'pagination.html'%}

        {%else%}

        <p> No employees added to database yet!</p>

        

        {%endif%}

        {%endblock%}




