{%extends 'base.html'%}

    {%block page_title%}

        Clinic Records

    {%endblock%}

    {%block main_content%}

    {% if employee%}

        <table class="table striped ">

            <thead class="teal lighten-3">

              <tr class="white-text">
                  <th> Date</th>
                  <th> Patient</th>
                  <th> Category</th>
                  <th> Diagnosis</th>
                     
                  
              </tr>

            </thead>

            <tbody>

            {%for visit in employee.visits_handled.all%}

            <tr class="grey-text">
                <td>{{visit.visit_date}}</td>
                <td>{{visit.patient}}</td>
                <td>{{visit.get_category_display}}</td>
                <td>{{visit.diagnosis}}</td>
                                
            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> Employee has not yet handled any assignments!</p>

        {%endif%}

        {%endblock%}
