{%extends 'base.html'%}

        {%block page_title%}

        Expenses List

        {%endblock%}


      {%block main_content%}

        {%if employee%}

        <table class="table striped">

            <thead>

              <tr class="teal lighten-3 white-text">
                  <th> Date Added</th>
                  <th> Particulars</th>
                  <th> Amount</th>
                  
              </tr>

            </thead>

            <tbody>

            {%for expense in employee.expense_set.all %}

            <tr class="grey-text">
                <td>{{expense.expense_date}}</td>
                <td>{{expense.particulars}}</td>
                <td>{{expense.amount}}</td>
               
            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> No expenses incurred yet!</p>

        {%endif%}

        {%endblock%}