{%extends 'clinic/base.html'%}
{%load staticfiles%}

{%block content%}

   <div class="col-xs-6 col-sm-3 placeholder">
       <img src="{%static 'images/people.png'%}" class="img-responsive" alt="Generic placeholder thumbnail">
       <h4>Patients</h4>

   </div>

   <div class="col-xs-6 col-sm-3 placeholder">
       <img src="{%static 'images/staff.png'%}" class="img-responsive" alt="Generic placeholder thumbnail">
       <h4>Our Staff</h4>

   </div>

   <div class="col-xs-6 col-sm-3 placeholder">
       <img src="{%static 'images/visit.png'%}" class="img-responsive" alt="Generic placeholder thumbnail">
       <h4>Clinic Visit Records</h4>

   </div>

   <div class="col-xs-6 col-sm-3 placeholder">
       <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
       <h4>Lab Tests</h4>

   </div>

 

{%endblock%}









