{%extends 'base.html'%}

        {%block page_title%}

         Patients

        {%endblock%}

        {%block main_content%}

        <div class="mybuttons">
            <a href="{%url 'clinic:patient_add'%}" class="btn teal">Create</a>
            <a href="{%url 'clinic:patient_add'%}" class="btn teal">Export</a>

        </div>
        

        {% if patients%}

        <table class="table bordered striped">

            <thead>

              <tr class="purple white-text">
                  <th> First Name</th>
                  <th> Last Name</th>
                  <th> Gender</th>
                  <th> Address</th>
                  <th> Phone</th>
                  <th> Date of Birth</th>
                  <th> Age </th>
                  <th></th>
                  <th></th>
                  <th></th>

              </tr>

            </thead>

            <tbody>

            {%for patient in patients%}

            <tr class="grey-text">
                <td>{{patient.first_name}}</td>
                <td>{{patient.last_name}}</td>
                <td>{{patient.get_gender_display}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.dob}}</td>
                <td>{{patient.age}}</td>

                <td><a href="{%url 'clinic:patient_history' patient.pk%}">Show</a></td>
                <td><a href="{%url 'clinic:patient_edit' patient.pk%}">Edit</a></td>
                <td><a href="{%url 'clinic:patient_delete' patient.pk%}">Delete</a></td>

            </tr>

            {%endfor%}

            </tbody>

        </table>

        {%include 'pagination.html'%}

        {%else%}

        <p> No patients added to database yet!</p>

        {%endif%}

        {%endblock%}




