{%extends 'base.html'%}

    {%block page_title%}

        Clinic Records

    {%endblock%}

    {%block main_content%}

    {% if patient%}

        <table class="table striped ">

            <thead class="teal lighten-3">

              <tr class="white-text">
                  <th> Date</th>
                  <th> Category</th>
                  <th> Diagnosis</th>
                  <th> Lab Tests</th>
                  <th> Prescriptions</th>
                  <th>Attendant</th>                     
                  
              </tr>

            </thead>

            <tbody>

            {%for visit in patient.patient_history.all%}

            <tr class="grey-text">
                <td>{{visit.visit_date}}</td>
                <td>{{visit.get_category_display}}</td>
                <td>{{visit.diagnosis}}</td>
                <td>{{visit.lab_tests}}</td>
                <td>{{visit.prescriptions}}</td>
                <td>{{visit.attendant}}</td>
                                
            </tr>

            {%endfor%}

            </tbody>

        </table>

        {%else%}

        <p> Patient has no medical history!</p>

        {%endif%}

        {%endblock%}
