{% extends 'base.html' %}

{% block title %}
   {{visit}}
{% endblock title %}

{% block  content %}

   <section id="visit" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                 Record Details</h4>
            </div>
            <div class="card-body">

               <p>Date: <span style="border-bottom:dotted;">{{visit.visit_date}}</span></p>
               <p>Patient: <span style="border-bottom:dotted;">{{visit.patient}}</span></p>
               <p>Type: <span style="border-bottom:dotted;"> {{visit.get_category_display}}</span></p>
               <p>Doctor: <span style="border-bottom:dotted;"> {{visit.attendant.get_full_name}} </span></p>
               <p>Clinical Notes: <span style="border-bottom:dotted;"> {{visit.clinical_notes}} </span></p>
               <p>Prescriptions: <span style="border-bottom:dotted;">{{visit.prescriptions}}</span></p>
               <p>Lab Tests: <span style="border-bottom:dotted;">{{visit.lab_tests}}</span></p>
              
            </div>
          </div>
          <br/><a href="{% url 'visits' %}">Back</a>
        </div>
      </div>
    </div>
  </section>

    
{% endblock content  %}