{%extends 'clinic/base.html'%}

        {%block title_heading%}

         Staff visits

        {%endblock%}

        {%block content%}

        {% if visits%}

        <table class="table table-bordered">

            <thead>

              <tr>
                  <th> Date</th>
                  <th> Patient</th>
                  <th> Category</th>
                  <th> Physical Examination</th>
                  <th> Diagnosis</th>
                  <th> Attendant</th>
                  <th> Lab Tests</th>
                  <th> Prescriptions</th>




              </tr>

            </thead>

            <tbody>

            {%for visit in visits%}

            <tr>
                <td>{{visit.visit_date}}</td>
                <td>{{visit.patient.name}}</td>
                <td>{{visit.category}}</td>
                <td>{{visit.examination}}</td>
                <td>{{visit.diagnosis}}</td>
                <td>{{visit.attendant}}</td>
                <td>{{visit.lab_tests}}</td>
                <td>{{visit.prescriptions}}</td>

                <td><a href="/clinic/visit/edit/{{visit.id}}">Edit</a></td>
                <td><a href="/clinic/visit/delete/{{visit.id}}">Delete</a></td>


            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> No visits added to database yet!</p>

        {%endif%}

        {%endblock%}

