{%extends 'base.html'%}

        {%block page_title%}

         Clinic Records

        {%endblock%}

        {%block main_content%}

        <div class="mybuttons">
            <a href="{%url 'clinic:visit_add'%}" class="btn teal">Create</a>
            <a href="{%url 'clinic:visit_add'%}" class="btn teal">Export</a>

        </div>
                

        {% if visits%}

        <table class="table striped ">

            <thead class="purple">

              <tr class="white-text">
                  <th> Date</th>
                  <th> Patient</th>
                  <th> Category</th>
                  <th> Diagnosis</th>
                  <th> Attendant</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  
              </tr>

            </thead>

            <tbody>

            {%for visit in visits%}

            <tr class="grey-text">
                <td>{{visit.visit_date}}</td>
                <td>{{visit.patient}}</td>
                <td>{{visit.get_category_display}}</td>
                <td>{{visit.diagnosis}}</td>
                <td>{{visit.attendant}}</td>
                <td><a href="{%url 'clinic:visit_detail' visit.id%}">Details</a></td>
                <td><a href="{%url 'clinic:visit_edit' visit.id%}">Edit</a></td>
                <td><a href="{%url 'clinic:visit_delete' visit.id%}">Delete</a></td>


            </tr>

            {%endfor%}

            </tbody>

        </table>

        {%include 'pagination.html'%}

        {%else%}

        <p> No visits added to database yet!</p>

        {%endif%}

        {%endblock%}

