{%extends 'base_form.html'%}
{%load material_form%}
{%block page_title%}
   Login
{%endblock%}

{%block form_content%}

  {%if form%}
  <!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form> -->

  <!--<form method="POST">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <button type="submit" name="_submit" class="btn">Submit</button>
    </form> -->

    <div class="card purple">
        <div class="card-content white-text">
          <span class="card-title center">My Clinic Login</span>
        </br>

          <form method="POST">
              {% csrf_token %}
              {{form.as_p}} 
              <button type="submit" name="_submit" class="btn teal">Submit</button>
          </form>
          
        </div>
        
      </div>
 
  {%endif%}

{%endblock%}  

