{% extends 'base.html' %}
{% load static %}

{% block title %}
  | Home
{% endblock title %}

{% block content %}  

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We look after your health</h2>
          <p class="lead">Welcome to my clinic! - Our mission is to look after your health</p>
          <img src="{% static 'img/about.jpg'%}" alt="">
          <p class="mt-4"></p>
        </div>
        
      </div>
    </div>
  </section>
  

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if employees %}

          {% for employee in employees %}
              <div class="col-md-4">
               <img src="{{employee.employee_photo.url}}" width="350" height="200" alt="" class="rounded-circle mb-3">
              <h4>{{employee}}</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> Employee</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i>{{employee.phone}}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{employee.user.email}}</p>
            </div>

        {% endfor %}

        {% else %}

         <div class="col-md-12">
          <p> No Team members hired yet </p>
        {% endif %}  

        
      </div>
    </div>
  </section>
  
{% endblock content %}


