{%extends 'base.html'%}

{%block page_title%}

   Order Details

{%endblock%}

{%block main_content%}

{%if order%}



<h4> Date : {{order.created}}</h4>

<p> {{order.employee}}</p>

<p> Invoice to: {{order.customer}}</p>

<br>
  <tbody>
  {%for item in order.items.all %}
    <tr>
      <td>{{item.product}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.sub_total}}</td>
    </tr>
  {%endfor%}

    <tr>
      <td></td>
      <td>Total:</td>
      <td>{{order.total_cost}}</td>
    </tr>
</tbody>
    
</table>
    
<h6>Payment</h6>
    
    <p> Cash : {{order.order_amount}}</p>

    {%if order.paid == '0' %}
    <p> Balance: Nil </p>
    {%else%}
    <p> Balance:{{order.balance}}</p>   
    {%endif%} 


{%else%}
  <p> No detailed information avaialable for this particular order instance</p>

{%endif%}

{%endblock%}