{%extends 'sales/base.html'%}

        {%block title_heading%}

        Sales of Drugs and Lab Tests

        {%endblock%}


      {%block content%}

        {%if items%}

        <table class="table table-bordered">

            <thead>

              <tr>
                  <th> Name</th>
                  <th> Retail Price</th>
                  <th> Type</th>
                  


              </tr>

            </thead>

            <tbody>

            {%for item in items%}

            <tr>
                <td>{{item.name}}</td>
                <td>{{item.unit_cost}}</td>
                <td>{{item.type}}</td>
                

                <td><a href="/sales/item/edit/{{item.id}}">Edit</a></td>
                <td><a href="/sales/item/delete/{{item.id}}">Delete</a></td>


            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> No inventory added yet!</p>

        {%endif%}

        {%endblock%}