{%extends 'base.html'%}

        {%block page_title%}

        Medical Purchases

        {%endblock%}


      {%block main_content%}

        {%if purchases%}

        <table class="striped bordered">

            <thead class="teal lighten-3 white-text">

              <tr>
                  <th> Date Purchased</th>
                  <th> Product</th>
                  <th> Supplier</th>
                  <th> Quantity Purchased</th>
                  <th></th>
                  <th></th>


              </tr>

            </thead>

            <tbody>

            {%for purchase in purchases%}

            <tr class="grey-text">
                <td>{{purchase.created}}</td>
                <td>{{purchase.product}}</td>
                <td>{{purchase.supplier}}</td>
                <td>{{purchase.quantity}}</td>
                
                <td><a href="{%url 'sales:purchase_edit' purchase.id%}">Edit</a></td>
                <td><a href="{%url 'sales:purchase_delete' purchase.id%}">Delete</a></td>


            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> No purchases added yet!</p>

        {%endif%}

        {%endblock%}