{%extends 'base.html'%}

        {%block page_title%}

        Medical Suppliers

        {%endblock%}


      {%block main_content%}

        {%if suppliers%}

        <table class="striped bordered">

            <thead class="teal lighten-3 white-text">

              <tr>
                  <th> Name</th>
                  <th> Address</th>
                  <th> Phone</th>
                  <th> Alternate Phone</th>
                  <th> Email</th>
                  <th></th>
                  <th></th>


              </tr>

            </thead>

            <tbody>

            {%for supplier in suppliers%}

            <tr class="grey-text">
                <td>{{supplier.name}}</td>
                <td>{{supplier.address}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.alternate_phone}}</td>
                <th>{{supplier.email}}</th>

                <td><a href="{%url 'sales:supplier_edit' supplier.id%}">Edit</a></td>
                <td><a href="{%url 'sales:supplier_delete' supplier.id%}">Delete</a></td>


            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> No suppliers added yet!</p>

        {%endif%}

        {%endblock%}