{%extends 'sales/base.html'%}
{%load widget_tweaks%}


    {%block title_heading%}

        Add Available Lab Test Inventory

     {%endblock%}

    {%block content%}

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-5">

                     <form action="{%url 'test_new' %}" method="POST" role="form" class="'form-horizontal">


            {%csrf_token%}

           <div class="form-group">
               {{form.type.errors}}
               <label class="control-label">Name:</label>

                   {{form.type|add_class:'form-control'}}
           </div>

           <div class="form-group">
               {{form.unit_cost.errors}}
               <label class="control-label">Unit Price:</label>

                   {{form.unit_cost|add_class:'form-control'}}

           </div>





           <div class="form-group">


                   <button type="submit" class="btn btn-primary">Save Changes</button>



           </div>
    </form>

                </div>

                <div class="col-sm-7">

                </div>
            </div>
        </div>



   {%endblock%}
