{%extends 'expenditure/base.html'%}

        {%block title_heading%}

        Drugs and Medicines List

        {%endblock%}


      {%block content%}

        {%if lab_tests%}

        <table class="table table-bordered">

            <thead>

              <tr>
                  <th> Name</th>
                  <th> Unit Price</th>



              </tr>

            </thead>

            <tbody>

            {%for test in lab_tests%}

            <tr>
                <td>{{test.type}}</td>
                <td>{{test.unit_cost}}</td>


                <td><a href="/sales/test/edit/{{test.id}}">Edit</a></td>
                <td><a href="/sales/test/delete/{{test.id}}">Delete</a></td>


            </tr>

            {%endfor%}

            </tbody>

        </table>



        {%else%}

        <p> No drugs added yet!</p>

        {%endif%}

        {%endblock%}