{% extends 'base.html' %}

{% block title %}
  | Purchases

{% endblock %}        

{% block content %}

<section id="purchases" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         {% if purchases %}

        <table class="table table-striped table-bordered">

            <thead class="thead-light">

              <tr>
                  <th> Date</th>
                  <th> Product</th>
                  <th> Supplier</th>
                  <th> Amount</th>
                  <th> Quantity</th>
                  <th></th>
                                                      
              </tr>

            </thead>

            <tbody>

            {% for purchase in purchases %}

            <tr class="grey-text">
                <td>{{purchase.purchase_date}}</td>
                <td>{{purchase.product}}</td>
                <td>{{purchase.supplier}}</td>
                <td>{{purchase.amount}}</td>
                <td>{{purchase.quantity}}</td>
                <td><a href="{% url 'purchase_edit' purchase.id %}">Edit</a></td> 
            </tr>

            {% endfor %}

            </tbody>

        </table>        

        {% else%}

        <p> No purchases added to database yet!</p>

        {% endif%}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {% if purchases.has_other_pages %}

          <ul class="pagination">
            {% if purchases.has_previous %}

              <li class="page-item">

               <a class="page-link" href="?page={{purchases.previous_page_number}}">
                &laquo;
                </a>
              
              </li>

            {% else %}  

              <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
            
            {% endif %}

            {% for i in purchases.paginator.page_range %}

               {% if purchases.number == i %}

                 <li class="page-item active">
                   <a href="" class="page-link">{{i}}</a>
                 </li>

                {% else %} 

                 <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>

               {% endif %}


            {% endfor %}

            {% if purchases.has_next %}

              <li class="page-item">

               <a class="page-link" href="?page={{purchases.next_page_number}}">
                &raquo;
                </a>
              
              </li>

            {% else %}  

              <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
            
            {% endif %}
            
          </ul>

          {% endif %}
      </div>
    </div>



  </div>

</section>      

{% endblock%}




