{%extends 'expenditure/base.html'%}
{%load widget_tweaks%}


    {%block title_heading%}

        Add Expense

     {%endblock%}

    {%block content%}

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-5">

                     <form action="{%url 'expense_create' %}" method="POST" role="form" class="'form-horizontal">


            {%csrf_token%}

           <div class="form-group">
               {{form.particulars.errors}}
               <label class="control-label">Particulars:</label>

                   {{form.particulars|add_class:'form-control'}}
           </div>

           <div class="form-group">
               {{form.amount.errors}}
               <label class="control-label">Amount:</label>

                   {{form.amount|add_class:'form-control'}}

           </div>

           <div class="form-group">
               {{form.incurred_by.errors}}
               <label class="control-label">Incurred By:</label>

                   {{form.incurred_by|add_class:'form-control'}}

           </div>



           <div class="form-group">


                   <button type="submit" class="btn btn-primary">Save Changes</button>



           </div>
    </form>

                </div>

                <div class="col-sm-7">

                </div>
            </div>
        </div>



   {%endblock%}
