<!DOCTYPE html>
<html>
<head>
  <title>My Clinic - {%block page_title%}
    {%endblock%}
  </title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  {% include 'material/includes/material_css.html' %}
  <style>
    .fa-purple{
      color:purple;
    }
  </style>
  
  
</head>

<body>
    <nav class="purple">
        <div class="nav-wrapper">
          <i class="fas fa-hospital-alt  fa-3 x "></i>&nbsp;&nbsp; 
          <a href="#" class="brand-logo ">My Clinic</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              
              {%if user.is_authenticated%}
                <li>Welcome, {{user.username}}</li>
                <li><a href="{%url 'logout'%}">Logout</a></li>
                <li><a href="{%url 'password_change'%}">Change Passsword</a></li>
              
              {%else%}
              <li>Welcome, user</li>
               <li><a href="{%url 'login'%}">Login</a></li>
              {%endif%}   
                           
            
          </ul>
        </div>
      </nav>
  <div class="row">
    
    <div class="col s12 m2">
      {%block sidebar_content%}

      <div class="section">
        <div><h6>Clinic</h6></div> </br>
        <div>
                 
           <i class="fas fa-notes-medical fa-2x fa-purple fa-fw"></i>
           <a href="{%url 'clinic:visit_list'%}">Records</a>
          </div>
        </br> 
          <div>
              <i class="fas fa-female fa-2x  fa-purple fa-fw"></i>
              <a href="{%url 'clinic:patient_list'%}">Patients</a>
          </div>
        </br>       
          <div>
            <i class="fas fa-user-md fa-2x fa-purple fa-fw"></i>
            <a href="{%url 'clinic:employee_list'%}">Employees</a>
          </div>
             
        
      </div>
      <div class="divider"></div>
      <div class="section">
        <div><h6> Sales </h6></div> </br>
        
        <div><i class="fas fa-capsules fa-2x fa-purple fa-fw"></i>
          <a href="{%url 'sales:product_list'%}">Products</a></div>
        </br>      
        <div>
            <i class="fas fa-shopping-cart fa-2x fa-purple fa-fw"></i>
            <a href="{%url 'sales:order_list'%}">Orders</a>
        </div>
      </br> 
        <div>
           <i class="fas fa-dollar-sign fa-2x fa-purple fa-fw"></i>
            <a href="{%url 'sales:product_list'%}">Payments</a>
        </div>
      
      </div>

      <div class="divider"></div>

      <div class="section">
        <div><h6> Expenditure </h6></div></br>

        <div>
          <i class="fas fa-money-check fa-purple fa-fw fa-2x"> </i>
          <a href="{%url 'expenditure:expense_list'%}">Expenses</a>
        </div> 
      </br>
        <div>
            <i class="fas fa-shopping-bag fa-purple fa-fw fa-2x"> </i>
            <a href="{%url 'sales:purchase_list'%}">Purchases</a>
          </div> 
        </br>

        <div>
              <i class="fas fa-syringe fa-purple fa-fw fa-2x"> </i>
              <a href="{%url 'sales:supplier_list'%}">Suppliers</a>
         </div>   
             
      </div>

      <div class="divider"></div>

      <div class="section">
        <div><h6> Assets </h6></div></br>
        <div>
          <i class="fas fa-microscope fa-purple fa-fw fa-2x"></i>
          <a href="{%url 'assets:asset_list'%}">Our Assets</a>
          
        </div>
      </div>

      {%endblock%}

    </div>
    
    <div class="col s12 m10">
      <div class="section">
          {%block main_content%}

          {%endblock%}

      </div>
    </div>

  </div>

  <footer class="page-footer purple">
    <div class="container fa-purple">
      <div class="row">
        <div class="col s12 m12">
          <p class="white-text center">Copyright &copy 2019 Julius Kimuli</p>
        </div>
      </div>

    </div>
  </footer>

</body>

{% include 'material/includes/material_js.html' %}

</html>